body {
    background-color: #2c3e50;
    color: #dfe4ea;
}
#ready {
    color: #dfe4ea;
    text-align: center;
}
#notes div {
    position: absolute;
}
#notes div img {
    width: 50%;
    height: 50%;
}
#judgelines div {
    position: absolute;
    top: 600px;
    border-top: 3px solid #dfe4ea;
    height: 20px;
    width: 100%;
}
#showScore {
    text-align: right;
    font-size: 1.5em;
}
#showCombo {
    text-align: center;
}
#comboNum {
    font-size: 1.5em;
}
#showName {
    bottom: 0.5em;
    position: absolute;
}
#showLevel {
    bottom: 0.5em;
    right: 8em;
    position: absolute;
}
#buttom {
    position: absolute;
    bottom: 0;
}
